.fixed {
    position:fixed;
    border-bottom: 1px solid #DDD;
    top: 0px;
    background: #F5F4F2;
    width: 100%;
    left:0px;
    z-index: 1000;
}
 
.scrolling {
    margin-top:100px !important;
}

h2{
	text-decoration: underline;
	font-size: 2em;
}

#sponsor{
	background-color: grey;
}